<form action="/session" class="gen-form" method="post">
  <input name="authenticity_token" type="hidden" value="7xVoKKY4LRvChWZ/xOtPslCv6z3mJNeheSW3T/efbpw=">
	<fieldset>
		<label for="login">Login</label>
		<input id="login" name="login" type="text" value="">
	</fieldset>

	<fieldset>
		<label for="password">Password <a href="/password_resets/new">Forgot?</a></label>
		<input id="password" name="password" type="password" value="">
	</fieldset>

	<input class="button" type="submit" value="Sign In" tabindex="3">
</form>
